@media (max-width: 1246px) {
  #hero-section .hero-box h1 {
    margin-bottom: 1.2rem;
  }
  #hero-section .hero-box p {
    font-size: 1.8rem;
  }

  #about-section .left-box {
    padding: 3rem;
  }

  #about-section .left-box h2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1144px) {
  .nav-bar {
    padding: 0 5rem;
  }

  #about-section {
    padding-block: 3rem;
  }
  #about-section .left-box {
    padding: 0rem;
    margin-left: 8rem;
  }
  #services-section .src-container .src-box {
    width: 30rem;
  }

  #team-section .team-container .team-box {
    width: 30rem;
  }

  #news-section .news-container .news-box {
    width: 50rem;
    height: 20rem;
  }

  #news-section .news-container .news-box .right {
    padding: 2rem 1.2rem;
  }
}

@media (max-width: 1035px) {
  .nav-bar {
    padding: 0 3rem;
  }

  #hero-section .hero-box p {
    padding-inline: 15rem;
  }

  #about-section .left-box {
    margin-left: 5rem;
  }

  #about-section .left-box h2 {
    font-size: 4rem;
  }

  #about-section .left-box h3 {
    font-size: 2rem;
  }

  #team-section .team-container .team-box {
    width: 28rem;
  }

  #news-section .news-container .news-box {
    width: 70rem;
    height: 25rem;
  }

  #news-section .news-container .news-box .right {
    padding: 5rem 5rem;
  }
}

@media (max-width: 970px) {
  .nav-bar {
    position: fixed;
  }

  .nav-bar .nav-iteam {
    width: 30rem;
    height: auto;
    position: fixed;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    top: 0rem;
    right: 0;
    bottom: 0;
    /* padding-block: 10rem; */
    padding: 10rem;
    background-color: #0b0b0b9b;
    backdrop-filter: blur(15px);
    transform: translateX(30rem);
    transition: all 0.3s;
  }

  .nav-bar .nav-iteam.open-nav-bar {
    transform: translateX(0rem);
  }

  .nav-bar .nav-open .nav-line {
    display: initial;
  }

  .close-navbar {
    display: initial;
  }

  #services-section .src-details p {
    padding-inline: 15rem;
    text-align: center;
  }
  #services-section .src-container .src-box {
    width: 40rem;
  }

  #team-section .team-details p {
    padding-inline: 15rem;
    text-align: center;
  }

  #team-section .team-container {
    flex-wrap: wrap;
  }
  #team-section .team-container .team-box {
    width: 35rem;
  }

  #news-section .news-details p {
    padding-inline: 15rem;
    text-align: center;
  }
}

@media (max-width: 892px) {
  #about-section .left-box {
    margin-left: 2rem;
  }
}

@media (max-width: 862px) {
  #about-section {
    flex-direction: column-reverse;
  }
  #about-section .right-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-section .right-box img {
    width: 30rem;
  }
  #about-section .left-box {
    width: 100%;
    padding-inline: 1rem;
  }

  #services-section .src-container .src-box {
    width: 30rem;
  }
}

@media (max-width: 725px) {
  #news-section .news-container .news-box {
    width: 60rem;
  }
  #news-section .news-container .news-box .right {
    padding: 4rem;
  }
}
@media (max-width: 670px) {
  #hero-section .hero-box p {
    padding-inline: 10rem;
  }
  /* 
    #services-section {
        height: 200vh;
       
    } */
  #services-section .src-details p {
    padding-inline: 10rem;
    text-align: center;
  }

  #services-section .src-container .src-box {
    width: 25rem;
  }

  #team-section .team-details p {
    padding-inline: 10rem;
    text-align: center;
  }

  #news-section .news-details p {
    padding-inline: 10rem;
    text-align: center;
  }
  #news-section .news-container .news-box {
    width: 55rem;
  }
  #news-section .news-container .news-box .right {
    padding: 4rem 2rem;
  }
}

@media (max-width: 603px) {
  #hero-section .hero-box h1 {
    margin-bottom: 0rem;
  }
  #hero-section .hero-box p {
    padding-inline: 7rem;
    padding-top: 1rem;
  }

  #about-section .left-box {
    padding: 0rem 1rem;
    margin-left: 0rem;
  }
  #services-section .src-details p,
  #team-section .team-details p,
  #news-section .news-details p {
    padding-inline: 7rem;
  }
  #team-section .team-container .team-box {
    width: 30rem;
  }

  #news-section .news-container .news-box {
    width: 50rem;
  }
}

@media (max-width: 544px) {
  #services-section .src-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #services-section .src-container .src-box {
    width: 35rem;
  }

  #services-section .src-container .src-box.src-box-last {
    width: 35rem;
    height: 22rem;
    padding-bottom: 2rem;
  }

  #news-section .news-container .news-box {
    width: 45rem;
  }

  #news-section .news-container .news-box .right {
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 464px) {
  .nav-bar .logo-box {
    margin-left: -5rem;
  }

  #hero-section .hero-box h1 {
    font-size: 6.5rem;
  }

  #hero-section .hero-box h2 {
    margin-top: -1.3rem;
    font-size: 2.5rem;
  }
  #hero-section .hero-box p {
    padding-inline: 5rem;
    font-size: 1.6rem;
  }

  #about-section .left-box h2 {
    font-size: 3rem;
  }

  #about-section .left-box h3 {
    font-size: 1.8rem;
  }

  #about-section .left-box p {
    font-size: 1.4rem;
  }
  #about-section .left-box .about,
  #services-section .src-details h2,
  #team-section .team-details h2,
  #news-section .news-details h2 {
    font-size: 4rem;
  }

  #services-section .src-details p,
  #team-section .team-details p,
  #news-section .news-details p {
    padding-inline: 4rem;
  }

  #services-section .src-details,
  #team-section .team-details,
  #news-section .news-details {
    padding-top: 5rem;
  }

  #services-section .src-container .src-box:hover .details-box {
    bottom: 5rem;
    left: 5rem;
  }

  #team-section .team-container {
    padding: 5rem 0;
  }

  #news-section .news-container .news-box {
    width: 40rem;
    height: 20rem;
  }

  #news-section .news-container .news-box .right {
    padding: 3rem 1rem;
  }

  #news-section .news-container .news-box .right h2 {
    font-size: 1.6rem;
  }
  #news-section .news-container .news-box .right p {
    margin-block: 1.5rem;
    font-size: 1.4rem;
  }

  #news-section .news-container .news-box .right h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 424px) {
  #hero-section .hero-box p {
    padding-inline: 3rem;
  }
  #news-section .news-container .news-box {
    width: 35rem;
    height: 20rem;
  }
}

@media (max-width: 379px) {
  .contact-section .container {
    width: 30rem;
    height: 45rem;
    padding: 3rem;
  }
  .contact-section .inputs {
    margin-top: 2rem;
  }

  #services-section .src-details p,
  #team-section .team-details p,
  #news-section .news-details p {
    padding-inline: 2.5rem;
  }

  #services-section .src-container .src-box {
    width: 30rem;
  }
  #services-section .src-container .src-box.src-box-last {
    width: 30rem;
    height: 20rem;
  }

  #news-section .news-container .news-box {
    width: 30rem;
    height: 16rem;
  }
  #news-section .news-container .news-box .right {
    padding: 1rem 1rem;
  }
  #news-section .news-container .news-box .right h2 {
    font-size: 1.3rem;
  }

  #news-section .news-container .news-box .right p {
    margin-block: 1rem;
    font-size: 1.2rem;
  }
  #news-section .news-container .news-box .right h3 {
    font-size: 1.1rem;
  }
 
}

@media (max-width: 332px) {
  .nav-bar {
    padding: 0 2rem;
  }

  #hero-section .hero-box h1 {
    font-size: 5.5rem;
  }

  #hero-section .hero-box h2 {
    margin-top: -1rem;
    font-size: 2.2rem;
  }

  #hero-section .hero-box p {
    padding-inline: 1.5rem;
  }

  #about-section .right-box img {
    width: 25rem;
  }

  #about-section .left-box h2 {
    font-size: 2.5rem;
  }

  #about-section .left-box h3 {
    font-size: 1.5rem;
  }
  #about-section .left-box p {
    font-size: 1.3rem;
  }

  #about-section .left-box .about,
  #services-section .src-details h2,
  #team-section .team-details h2,
  #news-section .news-details h2 {
    font-size: 3rem;
  }

  #services-section .src-details p,
  #team-section .team-details p,
  #news-section .news-details p {
    padding-inline: 2rem;
    font-size: 1.3rem;
  }

  #services-section .src-container .src-box {
    width: 25rem;
  }
  #services-section .src-container .src-box:hover .details-box {
    bottom: 3rem;
    left: 2rem;
  }

  #services-section .src-container .src-box .details-box span {
    font-size: 1.5rem;
  }
  #services-section .src-container .src-box.src-box-last {
    width: 25rem;
    height: 17rem;
  }

  #team-section .team-container .team-box {
    width: 27rem;
  }

  #news-section .news-container {
    display: initial;
   
}

  #news-section .news-container .news-box {
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
#news-section .news-container .news-box .left {
  width: 100%;
}
#news-section .news-container .news-box .right {
  width: 100%;
  padding: 1rem;
}

#news-section .news-container .news-box .right h2 {
  font-size: 1.8rem;
}

#news-section .news-container .news-box .right p {
  font-size: 1.5rem;
}
#news-section .news-container .news-box .right h3 {
  font-size: 1.4rem;
}
}
