@media (max-width: 1246px) {

    #hero-section .hero-box h1 {
        margin-bottom: 1.2rem;
    }
    #hero-section .hero-box p {
        font-size: 1.8rem;
    }

    #about-section .left-box {
        padding: 3rem;
    }

    #about-section .left-box h2 {
        font-size: 4.5rem;
    }
}


@media (max-width: 1144px){

    .nav-bar {
        padding: 0 5rem;
    }

    #about-section {
       padding-block: 3rem;
    }
    #about-section .left-box {
        padding: 0rem;
        margin-left: 8rem;
    }
    #services-section .src-container .src-box {
        width: 30rem;
    }

    #team-section .team-container .team-box {
        width: 30rem;
    }

    #news-section .news-container .news-box {
        width: 50rem;
        height: 20rem;
    }

    #news-section .news-container .news-box .right {
        padding: 2rem 1.2rem;
    }
}

@media (max-width: 1035px){
    .nav-bar {
        padding: 0 3rem;
    }

    #hero-section .hero-box p {
        padding-inline: 15rem;
    }

    #about-section .left-box {
        margin-left: 5rem;
    }

    #about-section .left-box h2 {
        font-size: 4rem;
    }

    #about-section .left-box h3 {
        font-size: 2rem;
    }

    #news-section .news-container .news-box {
        width: 70rem;
        height: 25rem;
    }

    #news-section .news-container .news-box .right {
        padding: 5rem 5rem;
    }
}

@media (max-width: 970px){

}