* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  scroll-behavior: smooth;
}

:root {
  --background-color: #0b0b0b;
 --background-color-2: #191A1E;
  --main-color: #e60023;
  --font-color: #fff;
  --off-white: #efebeb;
  --second-main-color: #00ccff;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.button {
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0cf, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      background-color: var(--main-color);
      width: 100%;
    }
  }
}

/* pre loader*/
#preloader {
  width: 100%;
  height: 100vh;
  background-color: rgb(226, 153, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
#preloader .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}
@keyframes l7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%;
  }
  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%;
  }
  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%;
  }
  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%;
  }
  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
}

/* ===== nav bar ===== */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.nav-bar .logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .logo-box p {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}
.nav-bar .logo-box p span {
  color: var(--main-color);
}
.nav-bar .logo-box img {
  margin-right: -3rem;
  width: 12rem;
}

.nav-bar .nav-iteam {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
}

.nav-bar .nav-iteam li a {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--off-white);
  transition: all 0.3s linear;
}

.nav-bar .nav-iteam li a:hover {
  color: var(--main-color);
}

/* === hero seection styling ==== */

#hero-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/main-background_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-section .hero-box {
  margin-top: 21rem;
  text-align: center;
}

#hero-section .hero-box h1 {
  font-size: 8rem;
  color: var(--second-main-color);
}

#hero-section .hero-box h1 span {
  color: var(--main-color);
}

#hero-section .hero-box h2 {
  margin-top: -2.8rem;
  color: var(--font-color);
  font-size: 3rem;
  font-weight: 600;
}

#hero-section .hero-box p {
  color: var(--off-white);
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2rem;
}

.form-style-9 {
  display: none;
  position: absolute;
  z-index: 5000;
  max-width: 450px;
  background: #fafafa;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305a72;
}
.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #b0cfe0;
  /* -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out; */
}
.form-style-9 ul li .field-style:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
}
.form-style-9 ul li .field-split {
  width: 49%;
}
.form-style-9 ul li .field-full {
  width: 100%;
}
.form-style-9 ul li input.align-left {
  float: left;
}
.form-style-9 ul li input.align-right {
  float: right;
}
.form-style-9 ul li textarea {
  width: 100%;
  height: 100px;
}
.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985b1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985b1;
  box-shadow: inset 0px 1px 0px 0px #3985b1;
  background-color: #216288;
  border: 1px solid #17445e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2d77a2 5%, #337da8 100%);
  background-color: #28739e;
}

/* === about section styling === */
#about-section {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
}

#about-section .left-box {
  width: 50%;
  padding: 10rem;
  margin-left: 8rem;
}
#about-section .left-box .about {
  font-size: 5rem;
  text-align: center;
  text-decoration-color: var(--second-main-color);
}
#about-section .left-box h2 {
  margin-top: 2rem;
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#about-section .left-box h2 span {
  color: var(--main-color);
}

#about-section .left-box h3 {
  margin-top: 1.5rem;
  color: var(--second-main-color);
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

#about-section .left-box p {
  margin-top: 1.8rem;
  color: var(--off-white);
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#about-section .right-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-section .right-box .container {
  /* border: 10px solid var(--main-color); */
  border-top: 10px solid var(--main-color);
  border-left: 10px solid var(--main-color);
  border-right: 10px solid var(--second-main-color);
  border-bottom: 10px solid var(--second-main-color);
}

#about-section .right-box img {
  width: 35rem;
}

/* ==== services section stying ===== */

#services-section {
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/services-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
}
#services-section .src-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

#services-section .src-details h2 {
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#services-section .src-details h2 span {
  color: var(--main-color);
}

#services-section .src-details p {
  margin-top: 1.3rem;
  color: var(--off-white);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#services-section .src-container {
  /* padding-inline: 8rem; */
  color: #fff;
  padding-top: 5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

#services-section .src-container .src-box {
  position: relative;
  width: 40rem;
  transition: all 0.3s;
  border-top: 6px solid var(--main-color);
  border-bottom: 6px solid var(--main-color);
  border-left: 6px solid var(--second-main-color);
  border-right: 6px solid var(--second-main-color);
  cursor: pointer;
}

#services-section .src-container .src-box.src-box-last {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to top,
    var(--main-color) 0%,
    var(--second-main-color) 100%
  );
  border: none;
  transition: all 0.3s;
}

#services-section .src-container .src-box.src-box-last:hover {
  background-image: linear-gradient(
    to bottom,
    var(--main-color) 0%,
    var(--second-main-color) 100%
  );
}

#services-section .src-container .src-box img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  overflow: hidden;
}

#services-section .src-container .src-box .details-box {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  transition: all 0.3s;
  background-color: #0b0b0b6f;
  padding: 1rem;
}

#services-section .src-container .src-box:hover .details-box {
  bottom: 10rem;
  left: 10rem;
}

#services-section .src-container .src-box .details-box span {
  font-size: 2rem;
  text-transform: uppercase;
}

#services-section .src-container .src-box .details-box h3 {
  font-size: 1.8rem;
  color: var(--second-main-color);
}

#services-section .src-container .src-box .details-box h3:hover {
  text-decoration: underline;
}

/* ==== team section styling ==== */
#team-section {
  background-color: var(--background-color);
  align-items: center;
}

#team-section .team-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

#team-section .team-details h2 {
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#team-section .team-details h2 span {
  color: var(--main-color);
}

#team-section .team-details p {
  margin-top: 1.3rem;
  color: var(--off-white);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#team-section .team-container {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#team-section .team-container .team-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35rem;
  cursor: pointer;
  height: auto;
  position: relative;
  overflow: hidden;
}

#team-section .team-container .team-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: linear-gradient(
    to top,
    rgba(0, 204, 255, 0.284),
    rgba(0, 204, 255, 0.291)
  ); 
  transition: transform 0.5s ease;
}

#team-section .team-container .team-box:hover::before {
  transform: translateY(0);
}

#team-section .team-container .team-box img {
  width: 100%;
}

#team-section .team-container .team-box .bottom {
  background-color: var(--second-main-color);
  width: 100%;
  padding-block: 2rem;
  z-index: 2;
}

#team-section .team-container .team-box .bottom h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--main-color);
}

#team-section .team-container .team-box .bottom h2:hover{
  text-decoration: underline;
}

#team-section .team-container .team-box .bottom h3 {
  color: var(--off-white);
  font-size: 1.5rem;
}

#team-section .team-container .team-box .bottom .follower {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.2rem;
}

#team-section .team-container .team-box .bottom .follower a {
  text-decoration: none;
  border: 1px solid red;
  padding: 0.8rem;
}

#team-section .team-container .team-box .bottom .follower a:hover{
  background-color:var(--main-color) ;
}

#team-section .team-container .team-box .bottom .follower a i{
  font-size: 1.8rem;
  color: var(--main-color);
}

#team-section .team-container .team-box .bottom .follower a:hover i{
  color: var(--second-main-color);
}


/* ======= banner section styling ======= */


#banner-section img{
  width: 100%;
}

/* ======= news section styling ======= */
#news-section {
  background-color: var(--background-color-2);
  height: auto;
  padding-bottom: 5rem;
}
#news-section .news-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

#news-section .news-details h2 {
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#news-section .news-details h2 span {
  color: var(--main-color);
}

#news-section .news-details p {
  margin-top: 1.3rem;
  color: var(--off-white);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
#news-section .news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 5rem;
}

#news-section .news-container .news-box{
  width: 60rem;
  height: 25rem;
  display: flex;
}

#news-section .news-container .news-box .left{
  width: 50%;
}

#news-section .news-container .news-box .left img{
  width: 100%;
  height: 100%;
}

#news-section .news-container .news-box .right{
  background-color: #20232A;
  width: 50%;
  padding: 4rem 3rem;
}

#news-section .news-container .news-box .right h2{
color: var(--second-main-color);
font-size: 2.2rem;
cursor: pointer;
}

#news-section .news-container .news-box .right p{
  color: var(--off-white);
  font-size: 1.5rem;
  margin-block: 1.8rem;
}

#news-section .news-container .news-box .right h3{
  color: var(--font-color);
  font-size: 1.6rem;
}

