* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

:root{
   --background-color:#0B0B0B;
    --main-color:#E60023;
    --font-color:#fff;
    --off-white:#efebeb;
    --second-main-color:#0cf;;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}


.button {

  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0cf, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
        background-color:var(--main-color);
      width: 100%;
    }
  }
}

/* pre loader*/
#preloader {
  width: 100%;
  height: 100vh;
  background-color: rgb(226, 153, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
#preloader .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}
@keyframes l7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%;
  }
  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%;
  }
  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%;
  }
  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%;
  }
  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
}

/* ===== nav bar ===== */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  background-color:var(--background-color);
  position: fixed;
  top: 0 ;
  right: 0;
  left: 0;
}

.nav-bar .logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .logo-box p {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
} 
.nav-bar .logo-box p span{
color:var(--main-color);
}
.nav-bar .logo-box img {
    margin-right: -3rem;
  width: 12rem;
}

.nav-bar .nav-iteam{
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
}

.nav-bar .nav-iteam li a{
    font-size: 1.8rem;
    font-weight: 500;
    color:var(--off-white);
    transition: all 0.3s linear;
}

.nav-bar .nav-iteam li a:hover{
    color: var(--main-color);
}

/* === hero seection styling ==== */

#hero-section{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url("images/main-background_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* clip-path: polygon( 0% 0%, 100% 0%, 100% 90%, 0% 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section .hero-box {
    margin-top: 21rem;
    text-align: center;
}

#hero-section .hero-box h1{
    font-size: 8rem;
    color: var(--font-color);
}

#hero-section .hero-box h1 span{
    color: var(--main-color);

}

#hero-section .hero-box h2{
    margin-top: -2.8rem;
    color: var(--font-color);
    font-size:3rem ;
    font-weight: 600;
}

#hero-section .hero-box p{
    color: var(--off-white);
    font-size: 2rem;
    font-weight: 500;
    padding-top: 2rem;
    
}

/* === about section styling === */
#about-section{
    background-color: #191A1E;
}

#about-section .left-box{
    width: 50%;
    padding: 10rem;
}
#about-section .left-box .about{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:var(--second-main-color);

}
#about-section .left-box h2{
    color: var(--font-color);
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
}

#about-section .left-box h2 span{
    color: var(--main-color);
}

#about-section .left-box h3{
    margin-top: 1.5rem;
    color: var(--second-main-color);
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

#about-section .left-box p{
    margin-top: 1.8rem;
    color: var(--off-white);
    font-size: 1.6rem;
    font-weight: 400;
}